/* ---------- Contact start---------- */
.form-wrapper{
    margin-top: 43px;
}
.form-input{
    width: 100%;
    padding: 7px 15px;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    margin-bottom: 22px;
}
.form-input:focus{
    border: 1px solid var(--black);
}
.field-textarea{
    resize: none;
    margin-bottom: 43px;
}
.field-textarea:focus{
    border: 1px solid var(--black);
    outline: none;
}
input:focus {
    border: 1px solid #D9D9D9;
    outline: none;
  }
.form-label{
    font-weight: 500;
    font-size: 16px;
    line-height:30px;
    color: var(--green);
    margin-bottom: 6px;
    font-family: var(--font-secondary);
    margin-right: 5px;
    
}
.form-label.required::after{
    content: "*";
    color: var(--orange);
    position: relative;
    top: -2px;
    left: 2px;
    font-weight: 600;
    font-size: 16px;
}
.form-btn{
    background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
}
.form-btn:hover{
    color: var(--white);

}
.mb-58{
    margin-bottom: 58px;
}
.btn-link{
    text-decoration: none;
}
.btn-link:hover {
    color: var(--green);
    text-decoration: none;
}
.card-header{
    padding: 24px 0 32px 0;
    border: none;
}
.btn:focus {
    outline: 0;
    box-shadow:none;
    text-decoration: none;
}
.card-body{
    padding: 0;
}
.card{
   border: none;
   border-bottom: 1px solid #D9D9D9;
}





.contact-sidebar-wrapper{
    margin-bottom: 30px;
    padding: 30px 35px;
    background-color: #F8F8F8;
    transition: 0.5s;
}
.contact-cards{
    background-color: var(--orange);
    }
.contact-cards .about-heading{
    color: var(--wheat);
}
.contact-cards .about-para{
    color: var(--wheat);
}
.contact-cards .logo-caption{
    color: var(--wheat);
}
/* .contact-cards:hover .contact-icons-initial{
   display: none;
}
.contact-cards:hover .contact-icons-hover{
    display: block;
 }
 .contact-icons-hover{
    display: none;

 } */
.side-para{
    padding-bottom: 27px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--wheat);
}

.logo-caption{
    font-weight: 400;
    font-size: 16px;
    line-height:40px;
    font-family: var(--font-secondary);
    color: var(--gray);
    margin-left: 14px;
    margin-bottom: 0;
}
.folow-icons{
    margin-right: 8px;
}
/* ---------- Contact End---------- */

.faq-wrapper{
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #D9D9D9;
}
.faq-wrapper .btn{
    padding:0 45px 0 0;
}
.faq-wrapper .about-para{
    padding-right: 45px;
}
.faq-heading {
    position: relative;
}

.faq-heading::after {
    display: inline-block;
    content: "";
    background-image: url(../images/faqs-plus.svg);
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 10px;
}

.faq-heading[aria-expanded="true"]::after {
    content: "";
    background-image: url(../images/faqs-minus.svg);
    /* background: green; */

}
